*{
  margin: 0;
  padding: 0;
}

body html{
  color: #222;
  margin-top: 0px;
  margin-left: 5px;
  width: 100%;
  align-content: center;
  transform-origin: left top;
  font-size: 62.5%;
}
.mobile_header{
  display: none;
}
.header {
  width:100%;
  margin:0px auto;
  display: flow-root;
}

.logo_container {
  float: left;
  display: block;
}

.logo_container img {
  height: 2.5rem;
}

.companyname_container {
  float: left;
  display: block;
}

.companyname_container img {
  height: 2.5rem;
}
.menu_div {
  float: left;
  display: flex;
  align-items: center;
  height: 2.5rem;
  justify-content: space-between;
}

.headermenuli_big{
  display: none;
}

.headermenuli_medium{
  display: none;
}

.headermenuli_small{
  float: left;
  list-style: none;
  margin-left: 1rem;
}

.headermenuli_tiny{
  float: left;
  list-style: none;
  margin-left: 1rem;
}

.footmenuli_big{
  display: none;
}

.footmenuli_medium{
  display: none;
}

.footmenuli_small{
  float: left;
  list-style: none;
  margin-left: 1rem;
}

.footmenuli_tiny{
  float: left;
  list-style: none;
  margin-left: 1rem;
}



.menu_div a {
  color: #222222b5;
}

.menu_div a:hover{
  color: #ff0000;
}

.menu_div_tiny{
  display: none;
}

.language_navigation_big {
  float: right;
  display: flex;
  align-items: center;
  height: 2.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  font-size: 0.8rem;
}

.language_navigation_big li {
  float: right;
  list-style: none;
  margin-right: 10px;

}

.language_navigation_big a {
  color: #222222b5;
}

.language_navigation_big a:hover{
  color: #ff0000;
}

.home_productscatalories {
  width:100%;
  height:2.5rem;
  margin:0px auto;
  color: #005eb6;
  font-size: 1.5rem;
  text-align: center;
  align-content: center;
  align-items: center;
}

.homemission {
  width:100%;
  height:2rem;
  margin:0px auto;
  color: #222222b5;
  font-size: 1rem;
  text-align: center;
  align-content: center;
  align-items: center;
}

.homecategoryblock {
  display: flex;
  width:100%;
  background-color: #eee;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.homecategorycontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.homecategoryitem {
  float: left;
  width: 13rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: #ffffff;
  text-align: center;
  align-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  box-shadow: 0.3rem 0.3rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4),
  -0.1rem -0.1rem 02rem 0rem rgba(0, 0, 0, 0.2);
}

.homecategorytitleblock{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.homecategorytitleblockleft {
  float: left;
}

.homecategorytitleblocktitle{
  font-size: 1rem;
}

.homecategorytitleblocktip{
  font-size: 0.8rem;
  margin-left: 0.5rem;
  color: #222222b5;
}

.homecategorytitleblockright {
  float: right;
  background-color: #ffffff;
  margin-right: 0.5rem;
  align-items: center;
  display: flex;
  justify-content: right;
  color: #005eb6;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.homecategorytitleblockright:hover {
  background-color: #005eb6;
  color: #ffffff;

}

.homeaboutuscontent {
  width:100%;
  margin:0px auto;
}

.homeaboutustext {
  width: 100%;
  font-size: 1rem;
  text-align: left;
  color: #222222b5;
  float: left;
  margin-left: 0.5px;
  margin-top: 0.5px;
}


footer {
  background-color: #0066cc;
  text-align: center;
  color: #FFFFFF;
}

.footer_menu_div {
  padding-top: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.footer_menu_div li {
  float: left;
  list-style: none;
  margin-left: 1rem;
}

.footer_menu_div a {
  color: #ffffff;
  text-underline: none;

}

.footer_menu_div a:hover{
  color: #ff0000;
}

.footer_contact_list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.footer_contact_list li {
  float: left;
  list-style: none;
  margin-left: 0.5rem;
}

.footer_contact_list a {
  color: #ffffff;
}

.footer_contact_list a:hover{
  color: #ff0000;
}

.footer_copyright_div_big {
 display: none;
}

.footer_copyright_div_medium {
  display: none;
}
.footer_copyright_div_small {
  width: 100%;
  align-items: center;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
}

.footer_copyright_div_tiny{
  display: none;
}

.homebrandstrengthline{
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.homebrandstrengthitemtitle {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}



.homebrandstrengthlogo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #005eb6;

  margin-bottom: 1rem;
}

.homebrandstrengthlogo span {
  font-size: 1rem;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  height: 2rem;
  align-items: center;
  flex-wrap: wrap;
  color: #FFFFFF;
}

.homebrandstrengthkind {
  height: 2rem;
  font-size: 1.0rem;
  color: #005eb6;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: right;
  margin-left: 1rem;
}

.homebrandstrengthcontent {
  color: #222222b5;
}


/* the following is older */

