*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body html{
    color: #222;
    margin-top: 0px;
    margin-left: 3px;
    width: 100%;
    align-content: center;
    transform-origin: left top;
    font-size: 31.25%;
}

.menu_div {
    width: 90%;
    float: left;
    display: flex;
    align-items: center;
    height: 2rem;
    justify-content: space-between;
}

.menu_div a {
    color: #222222b5;
}

.menu_div a:hover{
    color: #ff0000;
}

.headermenuli_big{
    display: none;
}

.headermenuli_medium{
    display: none;
}

.headermenuli_small{
    display: none;
}

.headermenuli_tiny{
    float: left;
    list-style: none;
    margin-left: 1rem;
}


.mobile_header {
    width: 100%;
    margin:0px auto;
    display: flex;
}

.logo_container_mobile {
    float: left;
    display: block;
}
.logo_container_mobile img{
    width: 3rem;
}

.companyname_container_mobile {
    float: left;
    display: block;
}

.companyname_container_mobile img {
    width: 12rem;
}

.header {
    width:100%;
    margin:0px auto;
}

.logo_container {
    float: left;
    display: block;
}

.logo_container img {
    display: none;
}

.companyname_container {
    display: none;
}

.menu_div_big {
    display: none;
}

.menu_div_tiny {
    display: flex;
    justify-content: space-between;
}

.menu_div_tiny li {
    float: left;
    list-style: none;
    flex: 1;
    text-align: center;
}

.menu_div_tiny a {
    color: #222222b5;
}

.menu_div_tiny a:hover{
    color: #ff0000;
}

.language_navigation_big{
    display: none;
}

.language_navigation_mobile {;
    float: right;
    display: flex;
    align-items: center;
    text-align: right;
    justify-items: right;
    justify-content: right;
    flex: 1;
}

.language_navigation_mobile li {
    float: right;
    list-style: none;
    margin-right: 0.5rem;
    text-align: right;
}

.language_navigation_mobile a {
    color: #222222b5;
}

.language_navigation_mobile a:hover{
    color: #ff0000;
}

.home_productscatalories {
    width:100%;
    margin-top: 3.5rem;
    color: #005eb6;
    font-size: 1rem;
    text-align: center;
    align-content: center;
    align-items: center;
}

.homemission {
    width:100%;
    margin:0px auto;
    color: #222222b5;
    font-size: 1rem;
    text-align: center;
    align-content: center;
    align-items: center;
}

.homecategoryblock {
    display: flex;
    width:100%;
    background-color: #eee;
    margin-bottom: 1rem;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.homecategorycontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.homecategoryitem {
    float: left;
    width: 10rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background: #ffffff;
    text-align: center;
    align-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0.3rem 0.3rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4),
    -0.1rem -0.1rem 02rem 0rem rgba(0, 0, 0, 0.2);
}

.homecategoryitem img {
    width: 8rem;
}
.homecategorytitleblock{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.homecategorytitleblockleft {
    float: left;
}

.homecategorytitleblocktitle{
    font-size: 0.8rem;
}

.homecategorytitleblocktip{
    font-size: 0.6rem;
    margin-left: 0.1rem;
    color: #222222b5;
}

.homecategorytitleblockright {
    width: 1rem;
    float: right;
    background-color: #ffffff;
    margin-right: 0.5rem;
    align-items: center;
    display: flex;
    justify-content: right;
    color: #005eb6;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.homecategorytitleblockright:hover {
    background-color: #005eb6;
    color: #ffffff;

}

.homeaboutuscontent {
    display: flex;
    width:100%;
    margin:0px auto;
    background-color: #eee;
}

.homeaboutustext {
    width: 100%;
    font-size: 1rem;
    text-align: left;
    color: #222222b5;
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

}

.homebrandstrengthline{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.homebrandstrengthitemtitle {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.homebrandstrengthlogo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #005eb6;

    margin-bottom: 1rem;
}

.homebrandstrengthlogo span {
    font-size: 1.2rem;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    height: 2rem;
    align-items: center;
    flex-wrap: wrap;
    color: #FFFFFF;
}

.homebrandstrengthkind {
    height: 2rem;
    font-size: 1.0rem;
    color: #005eb6;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: right;
    margin-left: 1rem;
}

.homebrandstrengthcontent {
    color: #222222b5;
}

footer {
    background-color: #0066cc;
    text-align: center;
    color: #FFFFFF;
}

.footer_menu_div {
    padding-top: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.footer_menu_div li {
    float: left;
    list-style: none;
    margin-left: 1rem;
}

.footer_menu_div a {
    color: #ffffff;
    text-underline: none;

}

.footer_menu_div a:hover{
    color: #ff0000;
}

.footer_menu_div_tiny li {
    float: left;
    list-style: none;
    margin-left: 10px;
}

.footer_menu_div_tiny a {
    color: #ffffff;
    text-underline: none;
}

.footer_menu_div_tiny a:hover{
    color: #ff0000;
}
.footer_contact_list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    float: center;
    align-items: center;
}

.footer_contact_list li {
    float: left;
    list-style: none;
    margin-left: 10px;
}

.footer_contact_list a {
    color: #ffffff;
}

.footer_contact_list a:hover{
    color: #ff0000;
}


.footer_copyright_div_big {
    display: none;
}

.footer_copyright_div_medium {
    display: none;
}

.footer_copyright_div_small {
    display: none;
}

.footer_copyright_div_tiny {
    width: 100%;
    align-items: center;
    padding-bottom: 0.5rem;
}

.company_aboutus {
    width:100%;
    margin-top: 1.5rem;
    color: #005eb6;
    font-size: 2rem;
    text-align: center;
    align-content: center;
    align-items: center;
}

.company_mission {
    width:100%;
    margin:0px auto;
    color: #222222b5;
    font-size: 1rem;
    text-align: center;
    align-content: center;
    align-items: center;
}

.customizationtip {
    width:100%;
    height:1rem;
    color: #222222b5;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.customizationkindblock {
    width:100%;
    margin-top: 0rem;
    text-align: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.customizationkinditem {
    width: 8rem;
    height: 8rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.customizationprocessblock{
    width:100%;
    margin-top: 40px;
    background-color: #eee;
    height: 25rem;
}

.customizationitem {
    text-align: center;
    width: 5rem;
}

.customizationline {
    display: none;
}

.customizationline_tiny {
    width:100%;
    margin-top: 2rem;
    margin-left: 2rem;
    float: left;
}

.customizationline_tiny a{
    text-decoration: none;
}

.customizationitem_tiny {
    display: flex;
    float: left;
    text-align: center;
    width: 100%;
}

.customizationtitle_tiny{
    color: #0066cc;
    font-size: 1rem;
    font-weight: 700;
    height: 2rem;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    display: flex;
    border-bottom: 5px solid #0066cc;
}

.customizationtip_tiny{
    color: #8e8e8e;
    font-size: 0.8rem;
    height: 2rem;
    margin-left: 1rem;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    display: flex;
}

.clustomizationarror_tiny{
    color: #0066cc;
    text-align: center;
    width: 4rem;
    font-weight: 700;
    font-size: 2rem;
}

.contactus {
    width:100%;
    height:3rem;
    margin-top: 60px;
    color: #005eb6;
    font-size: 2rem;
    text-align: center;
    align-content: center;
    align-items: center;
}

.onlinemessagetip {
    width:100%;
    height:50px;
    margin:0px auto;
    color: #222222b5;
    font-size: 12px;
    text-align: center;
    align-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.onlinemessageform{
    width: 100%;
}

.onlinemessageformline{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: left;
}

.agentinput {
    margin-top: 1rem;
    width: 13rem;
    height: 2rem;
    margin-left: 1rem;
}

.onlinemessagecontent {
    width: 1110px;
    height: 80px;
    margin-left: 1rem;
}

.verifycode {
    width: 350px;
    height: 30px;
    margin-left: 1rem;
}

.onlinemessageformsubmitline{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.onlinemessageformbutton {
    height: 30px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #005eb6;
    font-size: 15px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 1px solid #005eb6;
    border-top: 1px solid #005eb6;
    border-left: 1px solid #005eb6;
    border-right: 1px solid #005eb6;
}

.onlinemessageformbutton:hover {
    background-color: #005eb6;
    color: #FFFFFF;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

/* starting of contact */
.contactmethodblock {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    margin-bottom: 60px;
    color: #005eb6;
}
.contactmethodblock a {
    width: 100%;
    display: flex;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: #005eb6;
}

.contactmethodblock a:hover {
    color: #ff0000;
}

.contactmethoditem {
    width: 100%;
    margin-left: 20px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-items: center;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
}

.contactmethodlogo {
    width: 3rem;
    background: #FFFFFF;
    height: 3rem;
    border-radius: 50%;

    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.contactmethodtitle {
    text-align: left;
    margin-left: 1rem;
}

.contactmethodcontent {
    text-align: left;
    margin-left: 1rem;
}

.faq_main{
    margin-left: 2rem;
}

.faq_main h1 {
    display: block;
    font-size: 2rem;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.faq_main h2 {
    margin-bottom: 1rem;
    display: block;
    font-size: 1.5rem;
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.faq_main pre {
    margin-left: 1rem;
    display: block;
    font-size: 1rem;
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.faq_main pre code {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    white-space: pre-line;
}

/*ending of contact */