{{ define "main" }}
<style type="text/css">
    .middle {
        width:100%;
        height:400px;
        margin:0px auto;
        background: url("{{- .Params.bannerimage -}}");
        background-size: cover;
        background-position: center;
    }

    .companydoor {
        width:100%;
        height:400px;
        margin:0px auto;
        background: url("/images/company/door.png");
        background-size: cover;
        background-position: center;
    }

    .companydata {
        width:100%;
        height:140px;
        margin:0px auto;
        background: url("{{- .Params.companydatapic -}}");
        background-size: cover;
        background-position: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .homebrandstrengthitem {
        width: 290px;
        height: 420px;
        background: url("/images/company/brand-bg.png");
        background-size: cover;
        background-position: center;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.4),
        -1px -1px 2px 0px rgba(0, 0, 0, 0.2);
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
</style>

<!-- starting of aboutus -->

<div class="companydoor" >
</div>

<div class="companydata" >
</div>

<div class="homeaboutuscontent">
    <div class="homeaboutustext">
        {{ range .Params.aboutus }}
        &nbsp;&nbsp;&nbsp;{{ . }} <br>
        {{ end }}
    </div>

</div>
<!-- endding of about us -->

<!-- starting of brand strength -->
<div class="homebrandstrengthtitle">
    <b>{{- .Params.brandstrength -}} </b>
</div>

<div class="homemission">
    {{- .Params.mission -}}
</div>

<div class="homebrandstrengthline">
    {{ range $index, $brand := .Params.strength }}
    <div class="homebrandstrengthitem">
        <div class="homebrandstrengthlogoline">
            <div class="homebrandstrengthlogo"><span> <i class="fas {{ $brand.fontname -}}"></i></span> </div>
        </div>

        <div class="homebrandstrengthkind"> <b>{{- $brand.title -}} </b></div>
        {{ range $ii, $line := $brand.content }}
        <div class="homebrandstrengthcontent"> {{- $line -}} </div>
        {{- end -}}
    </div>
    {{- end }}

</div>


{{ end }}

