<div class="footer_menu_div">
    {{- range site.Menus.main }}
     <li class="headermenuli_{{- .Pre -}}">
     {{if .URL }}
        <a href="{{- .URL -}}">
     {{ else }}
         <a href="{{ .PageRef }}">
     {{ end }}
                {{ .Name }}
                {{- with .Page }}
                {{- with .Params.version -}}
                ({{ . }}
                {{- end }}
                {{- end }}
            </a>
    </li>
    {{ end }}
</div>

<div class="footer_contact_list">
    {{ range $index, $contact := .Site.Params.contacts }}
      <div>
       <i class="{{ $contact.fontname -}}"></i>
       {{ if $contact.url }}
          <a href="{{ $contact.url | safeURL }}">
      {{ end }}
       {{ $contact.content -}}
       {{ if $contact.url }}
          </a>
       {{ end }}
     </div>&nbsp;
   {{ end }}
</div>


<div class="footer_copyright_div_big"> Copyright© 2014 - {{ now.Year }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ .Site.Params.companyname }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;    {{ .Site.Params.copyrightmsg }}</div>
<div class="footer_copyright_div_small"> Copyright© 2014 - {{ now.Year }}&nbsp;{{ .Site.Params.companyname }}</div>
<div class="footer_copyright_div_tiny"> Copyright© 2014 - {{ now.Year }}&nbsp;{{ .Site.Params.companyname }}</div>

