<div class="mobile_header">
    <div class="logo_container_mobile"><img src="/images/logo_73.png" title="{{ site.Title }}"></div>
    <div class="companyname_container_mobile">
        {{ if eq .Language.Lang "en" }}
        <img src="/images/name-en.png"  >
        {{ else }}
        <img src="/images/name-cn.png" >
        {{ end }}
    </div>
    <div class="language_navigation_mobile">
        <i class="fas fa-globe"></i>
        <li>
            {{ if eq .Language.Lang "en" }}
            <a aria-label="icon" href="{{ $.Site.BaseURL }}zh/"  target="_self">
                <span>中文(简体)</span>
            </a>
            {{ else }}
            <a aria-label="icon" href="{{ $.Site.BaseURL }}en/"  target="_self">
                <span>English</span>
            </a>
            {{ end }}
        </li>
    </div>
</div>
<div class="header">
    <div class="logo_container"><img src="/images/logo_73.png" title="{{ site.Title }}"></div>
    <div class="companyname_container">
        {{ if eq .Language.Lang "en" }}
        <img src="/images/name-en.png"  >
        {{ else }}
        <img src="/images/name-cn.png" >
        {{ end }}
    </div>
    <div class="menu_div">
        {{- range site.Menus.main }}
        <li class="headermenuli_{{- .Pre -}}">
            {{if .URL }}
               <a href="{{ .URL }}">
            {{ else }}
                <a href="{{ .PageRef }}">
            {{ end }}
           {{ .Name }}
           {{- with .Page }}
           {{- with .Params.version -}}
             ({{ . }}
           {{- end }}
           {{- end }}
          </a>
        </li>
        {{ end }}

    </div>

    <div class="language_navigation_big">

            <li>
                {{ if eq .Language.Lang "en" }}
                <a aria-label="icon" href="{{ $.Site.BaseURL }}zh/"  target="_self">
                    <i class="fas fa-globe"></i>
                    <span>中文(简体)</span>
                </a>
                {{ else }}
                <a aria-label="icon" href="{{ $.Site.BaseURL }}en/"  target="_self">
                    <i class="fas fa-globe"></i>
                    <span>English</span>
                </a>
                {{ end }}
            </li>
    </div>
</div>
