{{ define "main" }}
<div class="home_productscatalories">
    <b>{{- .Site.Params.productscatalories -}} </b>
</div>

<div class="homemission">
    {{- .Site.Params.mission -}}
</div>

<div class="homecategoryblock">
    <div class="homecategorycontent">
        {{ range $index, $category := .Site.Params.products }}

        <div class="homecategoryitem" >
            <a href="/{{- $.Language.Lang -}}/products/{{- $category.url -}}" target="_blank">
                <div>
                    <img src="{{- $category.pic -}} ">
                </div>
                <div class="homecategorytitleblock">
                    <div class="homecategorytitleblockleft">
                        <div class="homecategorytitleblocktitle">
                            <b> {{ $category.title }} </b>
                        </div>
                        <div class="homecategorytitleblocktip">
                            {{- $.Site.Params.productstip -}}
                        </div>
                    </div>
                    <div class="homecategorytitleblockright">
                        <i class="fas fa-forward"></i>
                    </div>
                </div>
            </a>
        </div>

        {{ end }}
    </div>
</div>

{{ end }}