{{ define "main" }}
<div class="productsinglemain">
    <div class="productsingleleftnavigation">
        {{ partial "products/productleft.html" . }}
    </div>
    <div class="productsinglerightcontent">
        <div class="home_productscatalories">
            <b>{{- .Params.currenttitle -}} </b>
        </div>
        <div class="homemission">
            {{- .Site.Params.mission -}}
        </div>
        <div class="productsingleproductitemblock">
            {{ range $index, $category := .Params.products }}
                <a href="/{{- $.Language.Lang -}}/contact/" target="_blank">
                <div class="productsingleitem" >
                    <div>
                        <img src="{{- $category.pic -}} " >
                    </div>
                    <div class="productsingletitleblock">
                        <b> {{ $category.title }} </b>
                    </div>
                    <div class="productsinglecontactusline">
                    <div class="productsinglecontactus">
                       {{- $.Site.Params.contactus -}}
                    </div>
                    </div>
                </div>
                </a>
            {{- end -}}

        </div>
    </div>
</div>
{{ end }}